.cart {
    text-align: left;
    width: 100%;
    .cart-header {
        th {
            font-size: rem-calc(18);
            font-weight: $global-weight-bold;
            padding: rem-calc(20 0);
        }
    }
    .cart-item {
        border-top: 1px solid $light-gray;
        position: relative;
        margin-bottom: rem-calc(40);
        @include breakpoint(large) {
            margin-bottom: 0;
        }
        td {
            padding: rem-calc(15 0);
            @include breakpoint(large) {
                padding: rem-calc(30 30 30 0);
            }
            &.cart-item-image-wrapper {
                @include breakpoint(large) {
                    width: 15%;
                }
            }
            &.cart-item-name-wrapper {
                @include breakpoint(large) {
                    width: 35%;
                }
            }
            &.cart-item-price-wrapper {
                @include breakpoint(large) {
                    width: 10%;
                }
            }
            &.cart-item-amount-wrapper {
                @include breakpoint(large) {
                    width: 25%;
                }

                input {
                    padding: rem-calc(15 4);
                }
            }
            &.cart-item-total-wrapper {
                @include breakpoint(large) {
                    width: 10%;
                }
            }
            &.cart-item-remove-wrapper {
                position: absolute;
                right: 0;
                bottom: 0;
                @include breakpoint(large) {
                    position: static;
                    right: auto;
                    bottom: auto;
                    text-align: right;
                    width: 5%;
                    padding-right: 0;
                }
            }
        }

        .cart-item-image {
            display: block;
            position: relative;
            border: 1px solid #ddd;
            max-width: rem-calc(320);
        }

        .cart-item-name {
            font-size: rem-calc(18);
            text-transform: uppercase;
            margin: 0;
            font-style: normal;
        }

        .cart-item-description {
            color: $dark-gray;
        }

        .cart-item-remove {
            position: relative;
            display: inline-block;
            width: rem-calc(24);
            height: rem-calc(24);
            background-color: $alert-color;
            border-radius: 50%;
            transition: all 0.3s ease;
            text-align: center;
            color: $white;
            cursor: pointer;
            outline: none;
            &:before {
                content: 'X';
                font-size: rem-calc(14);
                line-height: rem-calc(1);
                display: block;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &:hover {
                background-color: scale_color($alert-color, $lightness: -15%);
                color: $white;
            }
        }
    }
}

.cart-buttons {
    border-top: 1px solid $light-gray;
    padding-top: rem-calc(40);
    .cart-button-back {
        width: 100%;
        margin-bottom: 1rem;
        @include breakpoint(medium) {
            float: left;
            margin-bottom: 0;
            width: auto;
        }
    }
    .cart-button-proceed {
        width: 100%;
        @include breakpoint(medium) {
            float: right;
            width: auto;
        }
    }
}