.checkout-radio-panel {
    position: relative;
    border-radius: $global-radius;
    background: $light-gray;
    background: linear-gradient(to bottom, $white 0%, $light-gray 100%);
    border: 1px solid $medium-gray;
    padding: rem-calc(40);
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    & > svg {
        height: rem-calc(40);
        margin: rem-calc(5);
    }
    .custom-radio {
        margin-top: rem-calc(10);
        label {
            display: inline-block;
            font-weight: 400;
        }
    }
    .edit {
        display: block;
        position: absolute;
        top: rem-calc(10);
        right: rem-calc(20);
        color: $white;
        font-weight: 600;
        font-size: rem-calc(12);
        i {
            font-size: rem-calc(16);
        }
        @include breakpoint(large) {
            text-decoration: underline;
        }
    }
    &:hover, &.selected {
        background: $secondary-color;
    }
    &.selected {
        cursor: default;
    }
}

// Steps
.checkout-steps {
    @include clearfix();
    position: relative;
    font-size: rem-calc(16);
    @include breakpoint(large) {
        &:before {
            content: "";
            display: block;
            border-bottom: 1px solid $medium-gray;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            z-index: -1;
        }
    }
}

.checkout-step-wrapper {
    position: relative;
    margin-bottom: rem-calc(20);
    @include breakpoint(medium) {
        float: left;
        margin-bottom: 0;
    }
    &:first-child {
        .checkout-step {
            padding-left: 0;
        }
    }

    &:last-child {
        @include breakpoint(medium) {
            float: right;
        }
    }

}

.checkout-step {
    @include clearfix();
    display: block;
    background: $white;
    @include breakpoint(large) {
        padding-left: rem-calc(15);
        margin-right: rem-calc(15);
    }
    &.active {
        .checkout-step-number {
            border-color: $secondary-color;
            background-color: $secondary-color;
        }
    }
    &.disabled {
        .checkout-step-number {
            background-color: $light-gray;
            color: $medium-gray;
        }
        .checkout-step-name {
            color: $medium-gray;
        }
    }
}

.checkout-step-number {
    float: left;
    display: block;
    width: rem-calc(30);
    height: rem-calc(30);
    line-height: rem-calc(30);
    border: 1px solid $medium-gray;
    border-radius: 50%;
    text-align: center;
}

.checkout-step-name {
    float: left;
    display: block;
    color: $black;
    height: rem-calc(30);
    line-height: rem-calc(30);
    margin: rem-calc(0 15);
}

// Summary
.checkout-summary-total {
    border-bottom: 1px solid $light-gray;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: rem-calc(16);
    .label,
    .price {
        display: inline-block;
    }
    .label {

    }

    .price {
        font-weight: $global-weight-bold;
        min-width: rem-calc(80);
        text-align: right;
        @include breakpoint(large) {
            min-width: rem-calc(120);
        }
    }

    .total {
        margin-top: 1em;
        font-size: rem-calc(18);
        font-weight: $global-weight-bold;
        @include breakpoint(large) {
            font-size: rem-calc(24);
        }
    }
}

.checkout-summary-items {
    .cart {
        border-bottom: 1px solid $light-gray;
    }
}

.checkout-summary-footer {
    .required-fields-hint {
        font-size: rem-calc(14);
    }
}

.addresses-grid {
    .address-item-wrapper {
        border: 1px solid $medium-gray;
        padding: rem-calc(20);

        label {
            padding-left: rem-calc(40);

            &>span {
                &.radio,
                &.checkbox {
                    top: rem-calc(12);
                }
            }
        }
    }
}