/// Offcanvas Cart
.offcanvas-cart {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    border-left: 1px solid $light-gray;
    width: rem-calc(300);
    font-size: rem-calc(16);
    transform: translateX(100%);
    transition: all 0.3s ease;
    overflow: auto;
    &.expanded {
        transform: translateX(0);
    }
}

.offcanvas-cart-success {
    background-color: $success-color;
    padding: rem-calc(10 20 10 60);
    position: relative;
    color: $white;
    font-size: rem-calc(14);
    .check {
        display: block;
        width: rem-calc(40);
        padding-top: rem-calc(10);
        text-align: center;
        color: $white;
        font-size: rem-calc(24);
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        bottom: 0;
        background-color: scale_color($success-color, $lightness: -15%);
    }
}

.offcanvas-cart-continue-shopping {
    display: block;
    background-color: $primary-color;
    color: $white;
    line-height: rem-calc(20);
    padding: rem-calc(20 20 20 60);
    width: 100%;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: $text-shadow-black;
    position: relative;
    text-align: left;
    &:hover {
        background-color: scale_color($primary-color, $lightness: -15%);
    }
    svg {
        fill: $white;
        display: block;
        width: rem-calc(20);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: rem-calc(10);
    }
}

.offcanvas-cart-items {
    padding: rem-calc(20);
    border-bottom: 1px solid $light-gray;
}

.offcanvas-cart-item {
    @include clearfix();
    position: relative;
    padding: rem-calc(10 0);
    &:not(:last-child) {
        border-bottom: 1px solid $light-gray;
    }
    .image {
        display: block;
        width: 20%;
        float: left;
        padding-right: rem-calc(5);
    }

    .description {
        float: left;
        width: 70%;
        .quantity {
            font-weight: $global-weight-bold;
        }

        .name {

        }

        .price {
            display: block;
            font-weight: $global-weight-bold;
        }
    }

    .remove {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: rem-calc(20);
        height: rem-calc(20);
        line-height: rem-calc(20);
        border-radius: 50%;
        color: $white;
        background-color: $alert-color;
        cursor: pointer;
        &:before {
            content: 'X';
            font-size: rem-calc(10);
            line-height: rem-calc(1);
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background-color: scale_color($alert-color, $lightness: -15%);
            color: $white;
        }
    }
}

.offcanvas-cart-prices {
    padding: rem-calc(20);
    .price {
        @include clearfix();
        font-weight: $global-weight-bold;
        .label {
            display: block;
            float: left;
        }

        .amount {
            display: block;
            float: right;
        }
    }
}

.offcanvas-cart-buttons {
    padding: rem-calc(20);
}