.nested-panel {
    margin-top: -15px;
    padding-top: 15px;
    margin-bottom: 20px;
    background-color: #e9ecf2;
    border-bottom: 1px solid #c1c9d4;
}

.form-group .select2-container {
    display: block;
}

.coupon-functions {
    .coupon-clone-count {
        width: 60px;
        margin-right: 5px;
        float: left;
        text-align: right;
        background-color: #ffffff;
    }
    .inline-text {
        float: left;
        height: 30px;
        line-height: 30px;
        margin: 4px 5px 0 0;
    }
}

//Packing list styles
.packing-list-page {
    font-size: 12px;
    max-width: 630px;
    margin: 0 auto;
    > div {
        padding: 10px;
        background: #fff;

        h3 {
            margin-top: 0;
        }
        .address {
            margin: 20px 0 40px 0;
            .panel-body {
                font-size: 10px;
            }
        }
        .product-list {
            table td {
                font-size: 10px;

                &.small {
                    width: 90px;
                }
                &.xs-small {
                    width: 60px;
                }
                &.xxs-small {
                    width: 30px;
                }
                .description {
                    padding-bottom: 4px;
                }
            }
        }
    }
}

table.table {
    td {
        > .form-group {
            margin: 0 0 3px 0;
        }
        > label.form-label {
            line-height: 24px;
        }
        .dimensions, .weights {
            input {
                margin-bottom: 3px;
            }
        }

        .status-select {
            &.rex-status-OP {
                color: #e08600;
            }
            &.rex-status-IP {
                color: #4b9ad9;
            }
            &.rex-status-FA {
                color: #d9534f;
            }
            &.rex-status-CA {
                color: #324050;
            }
            &.rex-status-CL {
                color: #3bb594;
            }
        }
    }

    // variants
    &.variants {
        tr {
            &.type-NE {
                background: #e8cdb8;
                opacity: 0.8;
            }
            &.type-FREE {
                background: #d1e3f7;
            }
            &:first-child {
                background: #fff;
            }
            &.ui-sortable-helper {
                background: #FDFFAB;
                td {
                    height: 150px;
                    overflow: hidden;
                }
            }
            &.ui-sortable-placeholder {
                background: #FAFFDD;
                height: 150px;
                width: 100%;
                visibility: visible !important;
            }
            td {
                label {
                    display: none !important;
                }
                select {
                    min-width: 120px;
                }
                small,
                .form-group {
                    margin-bottom: 0;
                }
                .sort-icon:hover {
                    color: #3bb594;
                    cursor: move;
                }
            }
        }
    }
}

#linking-container {
    .list-group {
        font-size: 12px;
        line-height: 1.4;

        &.checklist {
            & > li {
                padding: 0;

                &.active {
                    color: #31708f;
                    background-color: #d9edf7;
                    border-color: #bce8f1;
                }

                & > label {
                    display: block;
                    cursor: pointer;
                    position: relative;
                    padding: 8px 8px 8px 30px;

                    & > input[type=checkbox],
                    & > input[type=radio] {
                        position: absolute;
                        top: 5px;
                        left: 8px;
                    }
                }
            }
        }
    }
}

.settings-table {
    tr.offline {
        opacity: 0.7;
        background-color: #eee;
    }

    .formbe_table {
        margin: 0 !important;

        & > label {
            display: none;
        }
        table {
            margin: 0;

        }
        input {
            background-color: #fff;
        }
    }
}

.products-list {
    tr.info {
        th,
        th a {
            color: #fff;
        }
        th a {
            display: block;
            padding: 0 2px;
            text-align: center;
        }
    }
}

#order-product-container {
    table {
        tr.info {
            color: #fff;

            a {
                color: #fff;
                display: block;
                text-align: center;
            }
        }
        
        td {
            vertical-align: middle;

            input {
                padding: 0 3px;
                height: 24px;

                &[name=quantity] {
                    width: auto;
                }
            }
        }
    }
}

.pjax-loading {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(255, 255, 255, 0.8);
    &.show {
        opacity: 1;
        z-index: 999;
    }

    & > .spinner {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem-calc(64);
        height: rem-calc(64);

        &.top20 {
            top: 20%;
        }

        div {
            display: inline-block;
            position: absolute;
            left: 6px;
            width: 13px;
            background-color: #333;
            animation: lds-pjax-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

            &:nth-child(1) {
                left: 6px;
                animation-delay: -0.24s;
            }
            &:nth-child(2) {
                left: 26px;
                animation-delay: -0.12s;
            }
            &:nth-child(3) {
                left: 45px;
                animation-delay: 0;
            }
        }
    }

    @keyframes lds-pjax-spinner {
        0% {
            top: 6px;
            height: 51px;
        }
        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
}