.text-center {
    text-align: center;
}

.nested-panel {
    margin-top:-15px;
    padding-top: 15px;
    margin-bottom: 20px;
    background-color: #e9ecf2;
    border-bottom: 1px solid #c1c9d4;
}

// variants
.table.variants {
    tr {
        &:not(.type-NE) {
            background: rgb(204, 236, 227);
        }
        &:first-child {
            background: #fff;
        }
        label {
            display: none;
        }
        select {
            min-width: 120px;
        }
        small,
        .form-group {
            margin-bottom: 0;
        }
    }
}

.lang-tab-content {
    background: #fff;
    border-left: 1px solid #dfe3e9;
    border-right: 1px solid #dfe3e9;
    border-bottom: 2px solid #c1c9d4;
    padding: 20px 12px 12px 12px;
}

.redactor-editor {
    background: #F7F6FB;
    border: 1px solid #c1c9d4;
    color: #324050;
    padding-left: 12px;
}

.redactor-air, .redactor-toolbar {
    border: 1px solid #c1c9d4;
    border-bottom: none;
}

fieldset {
    margin-top: 20px;
    display: block;
    legend {
        background-color: #dfe3e9;
        font-weight: normal;
        line-height: 40px;
        padding: 0 12px;
        margin-bottom: 15px;
    }
    .form-label {
        font-weight: normal;
        line-height: 34px;
        position: relative;
        display: block;
        padding-left: 36px;
        cursor: pointer;
        span {
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 0;
            background: #fff;
            border: 1px solid #c1c9d4;
            margin: -12px 0 0 0 !important;
        }
        input[type=radio] ~ span {
            border-radius: 50%;
        }
        input[type=checkbox],
        input[type=radio] {
            position: absolute;
            left: -9999px;
        }
        input:checked ~ span:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        input[type=checkbox]:checked ~ span:before {
            content: "✔";
            font-size: 20px;
        }
        input[type=radio]:checked ~ span:before {
            content: "";
            width: 12px;
            height: 12px;
            background: #515253;
            border-radius: 50%;
        }
    }
}

//Packing list styles
.packing-list-page {
    font-size:12px;
    max-width: 630px;
    margin: 0 auto;
    > div {
        padding:10px;
        background: #fff;

        h3 {
            margin-top: 0;
        }
        .address {
            margin: 20px 0 40px 0;
            .panel-body {
                font-size:10px;
            }
        }
        .product-list {
            table td {
                font-size:10px;

                &.small {
                    width:90px;
                }
                &.xs-small {
                    width:60px;
                }
                &.xxs-small {
                    width:30px;
                }
                .description {
                    padding-bottom:4px;
                }
            }
        }
    }
}